/*pale-gold-color: #C0B283;
silk-color: #DCD0C0;
paper-color: #F4F4F4;
charcoal-color: #373737;*/

:host {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #F4F4F4;
    color: #373737;
    text-align: center;
    font-family: "Roboto";
}

h1 {
    padding: 6px 6px 6px 4px;
    font-weight: 600;
    margin: 0;
    color: #DCD0C0;
}

h2 {
    padding: 6px 6px 6px 4px;
    font-weight: 400;
}

.more-bikes-div {
    display: inline-block;
    background-color: DarkGreen;
}

.less-bikes-div {
    display: inline-block;
    background-color: Crimson;
}

.summing-up-paragraph {
    margin-left: 6px;
    font-weight: 400;
    font-size: 20px;
}

#over-header {
    background: red;
    padding-bottom: 100px;
    margin-bottom: -100px;
}

#content {
    display: flex;
    flex-direction: column;
}

.bikes {
    background: white;
    display: inline-block;
    padding: 16px 32px;
    margin: 10px auto 20px auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}
