
:host {
  width: 100%;
  display: flex;
  font-family: "Roboto";
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

:host img {
  max-height: 96px;
}
.bike:last-child {
  border-bottom: 0 solid black;
}

.column {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  margin-right: 6px;
  justify-content: flex-end;
}

.smallColumn {
  width: 10%;
}

.buttons {
  display: flex;
  align-items: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: 6px;
  margin-right: 6px;
  justify-content: flex-end;
}

.name {
  font-family: "Roboto";
  font-weight: 400;
  color: #DCD0C0;
}

.left {
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}
